{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
{% endblock style %}


{% block head_title %}Attendance | {{ block.super }}{% endblock %}

{% block content %}

  <h1>Attendance  - {{event.title}} <br/><small>{{ event.date }}</small></h1>

  <p>Block: {{ event.blocks_str }}</p>
  <p>Location: {{ event.location }}</p>
  <p>Facilitators: {{ event.facilitators.all}}</p>

  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-search="true"
         data-id-field="id"
         id="table">
    <thead>
    <tr>
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="absent">Absent</th>
      <th data-field="late">Late</th>
      <th data-field="excused">Excused</th>
      <th data-field="student">Student</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr >
        <td>{{ obj.id }}</td>
        <td>{{ obj.absent }} </td>
        <td>{{ obj.late }}</td>
        <td>{{ obj.excused }}</td>
        <td>{{ obj.student }}</td>
      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock content %}

{% block js %}
  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
{% endblock js %}