{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}{% endblock style %}

{% block head_title %}Users | {{ block.super }}{% endblock %}

{% block content %}


    <h1>Student List</h1>
  <a class="btn btn-warning" href="{% url 'profiles:import' %}">MASS IMPORT</a>
  <ul>
      {% for profile in object_list %}
          <li>{{ profile}},{{ profile.user.username }}, {{ profile.user.date_joined }}, {{ profile.homeroom_teacher }}</li>
      {% endfor %}
  </ul>

{% endblock content %}