bleach==1.5.0
Django==1.11.12
django-appconf==1.0.2
django-crispy-forms==1.7.2
django-embed-video==1.1.2
django-imagekit==3.3
django-registration-redux==1.4
django-select2==6.0.2
django-summernote==0.8.6
html2text==2014.12.29
html5lib==0.9999999
pilkit==1.1.13
Pillow==5.1.0
pytz==2018.4
requests==2.12.4
six==1.10.0