{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- ****** faviconit.com favicons ****** -->
	<link rel="shortcut icon" href="static/icons/favicon.ico">
	<link rel="icon" sizes="16x16 32x32 64x64" href="static/icons/favicon.ico">
	<link rel="icon" type="image/png" sizes="196x196" href="static/icons/favicon-192.png">
	<link rel="icon" type="image/png" sizes="160x160" href="static/icons/favicon-160.png">
	<link rel="icon" type="image/png" sizes="96x96" href="static/icons/favicon-96.png">
	<link rel="icon" type="image/png" sizes="64x64" href="static/icons/favicon-64.png">
	<link rel="icon" type="image/png" sizes="32x32" href="static/icons/favicon-32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="static/icons/favicon-16.png">
	<link rel="apple-touch-icon" href="static/icons/favicon-57.png">
	<link rel="apple-touch-icon" sizes="114x114" href="static/icons/favicon-114.png">
	<link rel="apple-touch-icon" sizes="72x72" href="static/icons/favicon-72.png">
	<link rel="apple-touch-icon" sizes="144x144" href="static/icons/favicon-144.png">
	<link rel="apple-touch-icon" sizes="60x60" href="static/icons/favicon-60.png">
	<link rel="apple-touch-icon" sizes="120x120" href="static/icons/favicon-120.png">
	<link rel="apple-touch-icon" sizes="76x76" href="static/icons/favicon-76.png">
	<link rel="apple-touch-icon" sizes="152x152" href="static/icons/favicon-152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="static/icons/favicon-180.png">
	<meta name="msapplication-TileColor" content="#FFFFFF">
	<meta name="msapplication-TileImage" content="static/icons/favicon-144.png">
	<meta name="msapplication-config" content="static/icons/browserconfig.xml">
	<!-- ****** faviconit.com favicons ****** -->

  <script src="https://use.fontawesome.com/fe7c928d9c.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css">

  <title>{% block head_title %}Timberline Flex{% endblock %}</title>
  <link rel="stylesheet" href="{%  static 'css/base.css' %}">

  {% block style %}{% endblock style %}

</head>
<body>


{% include "navbar.html" %}

<div class="container">
  {% include "messages_display.html" %}
  {% block content %}
  {% endblock content %}
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<!-- Make sure this comes before bootstrap.js so that bootstrap takes precedent -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<script>
$(document).ready(function() {

  // http://stackoverflow.com/questions/24514717/bootstrap-navbar-active-state-not-working
  $('.navbar-nav li.active').removeClass('active');
  $('a[href="' + location.pathname + '"]').closest('li').addClass('active');

  $(window).on('beforeunload', function(){
   $('*').css("cursor", "wait");
  });

  $("div.alert.slide").on("click", "button.close", function() {
    $(this).parent().slideUp();
  });

});
</script>

{% block js %}{% endblock js %}

</body>
</html>

