<!-- Modal: http://getbootstrap.com/javascript/#modals -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="login-modal-label">Log in?</h4>
      </div>
      <div class="modal-body clearfix">
        <p>To register for events you need to log in first.
          If you just want to browse events, you don't have to.
          You can also log in using the <i class="fa fa-bars visible-xs-inline"></i> menu at the top right</p>
            <form method="POST" action="{% url 'auth_login' %}">{%  csrf_token %}
            <div class="form-group">
              <input type="text" class="form-control autofocus" name="username" placeholder="Username" />
            </div>
            <div class="form-group">
              <input type="password" class="form-control" name="password" placeholder="Password" />
            </div>
           <div class="pull-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">No thanks</button>
            <button type="submit" class="btn btn-primary">Log in</button>
           </div>
        </form>
      </div>

    </div>
  </div>
</div>