{% extends "registration/registration_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}{% trans "Change password" %}{% endblock %}

{% block content %}
  <h1>Password Change</h1>
  <p>
    {% if request.user.profile.password_change_required %}
      You are required to change your password before continuing.
    {% endif %}
    <br></p>
  <div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5">
      <form method="post" action="">
        {% csrf_token %}
        {{ form|crispy}}
        <input class="btn btn-default" type="submit" value="{% trans 'Change password' %}" />
      </form>
    </div>
  </div>

{% endblock %}


{# This is used by django.contrib.auth #}