
/* Timberline custom styling */

.navbar-default {
    background: #1a88b0 none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 700;
}

a.navbar-brand > img {
    margin-top: -10px;
    width: 40px;
    height: 40px;
}

/* Small Devices, Tablets (and lower) */
@media only screen and (max-width : 768px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a{
        color: #fff;
    }
}


.input-group-unified input {
    width: 50% !important;
}

.responsive-wrap {
    display: inline-block;
}
/* IE 11 hack for responsive images.
http://stackoverflow.com/questions/20541306/how-to-write-a-css-hack-for-ie-11
*/
.img-responsive { width:100%; }

/* http://stackoverflow.com/questions/19502040/if-ie-conditionals-not-working */
/*@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {*/
   /*!* Put your IE-only styles here. Works for IS 10 & IE 11*!*/
/*}*/