
/* Timberline custom styling */

.navbar-default {
    background: #1a88b0 none;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-text {
    color: #fff;
}

.navbar-default .navbar-brand {
    color: #fff;
    font-weight: 700;
}

a.navbar-brand > img {
    margin-top: -10px;
    width: 40px;
    height: 40px;
}

.input-group-unified input {
    width: 50% !important;
}

.responsive-wrap {
    display: inline-block;
}