#filter_form {
    margin-bottom: 10px;
}

#datepicker {
    color:black;
    background: white;
}

#studentNumberField {
    height: 100%;
    font-size: 215px;
}

#keypadResult {
    font-size: 72px;
}

body.wait, body.wait *{
 cursor: wait !important;
}