#filter_form {
    margin-bottom: 10px;
}

#datepicker {
    color:black;
    background: white;
}

#studentNumberField {
    height: 100%;
    font-size: 215px;
}

#keypadResult {
    font-size: 72px;
}

/*body.wait, body.wait *{*/
 /*cursor: wait !important;*/
/*}*/

/*.table>tbody>tr.unavailable >td, .table>tbody>tr.unavailable >th, .table>tbody>tr>td.unavailable, .table>tbody>tr>th.unavailable, .table>tfoot>tr.unavailable >td, .table>tfoot>tr.unavailable >th, .table>tfoot>tr>td.unavailable, .table>tfoot>tr>th.unavailable, .table>thead>tr.unavailable >td, .table>thead>tr.unavailable >th, .table>thead>tr>td.unavailable, .table>thead>tr>th.unavailable {*/
    /*background-color: #f3f3f3;*/
/*}*/

.text-muted-more, tr[data-event-available="false"] {
    color: darkgray;
}

.text-muted-more img, tr[data-event-available="false"] img {
    opacity: 0.5;
    -webkit-filter: grayscale(100%); /* needed for older Android browsers mostly... */
    filter: grayscale(100%);
}

tr[data-event-available="true"]:hover {
    cursor: pointer;
}

#datepicker:hover, #datepicker-label:hover {
    cursor: pointer;
}

/*IE Hacks working, so set widths for now...*/
.img-responsive-50 {
	/*max-width: 50%;*/
    width: 50%;
}

.img-responsive {
    width: 100%;
}

.img-responsive-50-ie11-hack {
	width: 50%;
}

.img-responsive-ie11-hack {
	width: 100%;
}

.badge-attendance-full {
    color: #a94442 !important;
}

.change-notice {
    display: inline-block;
    color: red;
}


/* JQUERY ARE YOU SURE PLUG IN */

/* match crispy-forms styling */
/*form.dirty {*/
    /*border-color: #66afe9;*/
    /*outline: 0;*/
    /*-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
    /*box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);*/
/*}*/



