{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}

{% block head_title %}Excused | {{ block.super }}{% endblock %}

{% block content %}

    <div class="row">
        <div class="col-md-7">
          <h1>Excused Students List <small class="responsive-wrap">{{ date_object }}</small></h1>
          <div class="hidden-print">{%  include 'events/date_filter.html' %}</div>
        </div>
        <div class="col-md-5">
            <h1><div class="pull-right hidden-print">
              <a class="btn btn-success" href="{% url 'excuses:excuse_create' %}">
                <i class="fa fa-plus-circle"></i> Create New Excuse
              </a>
            </div></h1>
        </div>
    </div>



    <table data-toggle="table"
           data-classes="table table-no-bordered table-hover"
           data-search="true"
           data-sort-name="last_date"
           data-sort-order="desc"
           id="table">

        <thead>
        <tr>
            <th>Actions</th>
            <th data-field="first_date" data-sortable="true" data-sorter="dateSorter">Start</th>
            <th data-field="last_date" data-sortable="true" data-sorter="dateSorter">End</th>
            <th data-field="blocks" data-sortable="true">Blocks</th>
            <th data-field="reason" data-sortable="true">Reason</th>
            <th data-field="flex_activity" data-sortable="true">Flex Activity</th>
            <th data-field="students">Students</th>
        </tr>
        </thead>
        <tbody>
        {% for excuse in object_list %}
            <tr>
                <td>
                    <a href="{% url 'excuses:excuse_edit' excuse.id %}">Edit</a>
                </td>
                <td>{{ excuse.first_date }}<span style="display:none;">{{ excuse.first_date|date:'Ymd' }}</span></td>
                <td>{{ excuse.last_date }}<span style="display:none;">{{ excuse.first_date|date:'Ymd' }}</span></td>
                <td>
                    <small>
                        {% for block in excuse.blocks.all %}
                            {{ block }};
                        {% endfor %}
                    </small>
                </td>
                <td>{{ excuse.reason }}</td>
                <td>{{ excuse.reason.flex_activity|yesno }}</td>
                <td>
                    <small>
                        {% for student in excuse.students.all %}
                            {{ student.get_full_name }};
                        {% endfor %}
                    </small>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block js %}

    {#  Date Filter#}
    <script src="{% static 'js/events-datepicker-v2.js' %}"></script>


    <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    <script>
        function dateSorter(a, b) {
            // need to pull 8 digit date out of this part of a,b: <div>YYYYMMDD</div>
            var re = /\d{6}/; // max 6 digits from 0-9
            var dateA = a.match(re); // first element is the match
            var dateB = b.match(re); // first element is the match

            dateA = dateA == null ? 0 : dateA[0];
            dateB = dateB == null ? 0 : dateB[0];

            if (dateA > dateB) return 1;
            if (dateA < dateB) return -1;
            return 0;
        }
    </script>
{% endblock %}