{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block style %}
  <!-- form.media -->
  {{ form.media.css }}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}

{% block content %}
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6">

      <form method="POST" action=""> {% csrf_token %}
        <h1 class="clearfix">{{ title }}
          <div class="btn-group pull-right" role="group">

            <a class="btn btn-default" href="{% url 'excuses:excuse_list' %}">Cancel</a>
            <input class="btn btn-primary" type="submit" value="{{ btn_value }}"/>
            {% if delete_btn %}<a class="btn btn-danger" href="{% url 'excuses:excuse_delete' excuse.id %}">Delete</a>{% endif %}

          </div>
        </h1>
        {{ form|crispy }}
        <div class="btn-group pull-right" role="group">

          <a class="btn btn-default" href="{% url 'excuses:excuse_list' %}">Cancel</a>
          <input class="btn btn-primary" type="submit" value="{{ btn_value }}"/>
          {% if delete_btn %}<a class="btn btn-danger" href="{% url 'excuses:excuse_delete' excuse.id %}">Delete</a>{% endif %}

        </div>
      </form>


    </div>

  </div>
  <br/>


{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {{ form.media.js }}
  <script id="event-datepicker" data-date-input-id="id_date" src="{% static 'js/events-datepicker.js' %}"></script>

  <script>
    function WednesdaysOnly(date) {
      var day = date.getDay();
      if (day == 3) //Wednesday = 3
        return [true]
      else
        return [false]
    }

    $(document).ready(function () {
      var $dateInput1 = $("#id_first_date");
      var $dateInput2 = $("#id_last_date");

      $dateInput1.datepicker({
        dateFormat: 'yy-mm-dd',
        showOtherMonths: true,
        selectOtherMonths: true,
        beforeShowDay: WednesdaysOnly,
      });

      $dateInput2.datepicker({
        dateFormat: 'yy-mm-dd',
        showOtherMonths: true,
        selectOtherMonths: true,
        beforeShowDay: WednesdaysOnly,
      });

    });
  </script>
{% endblock js %}