{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
{#  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">#}
{% endblock style %}

{% block head_title %}Attendance | {{ block.super }}{% endblock %}


{% block content %}

  <h1>Attendance - {{ event.title }}
    <small>
      {{ event.date }}
      <div role="navigation" aria-label="attendance_type" class="pull-right">
        <ul class="nav nav-pills">
          <li role="presentation" {% if not keypad %}class="active"{% endif %}>
            <a href="{% url 'events:attendance' event.id %}">Manual</a>
          </li>
          <li role="presentation" {% if keypad %}class="active"{% endif %}>
            <a id="keypad_link"
               {% if not event.is_keypad_initialized %}
                href="{% url 'events:attendance_keypad_init' event.id %}"
               {% else %}
                href="{% url 'events:attendance_keypad' event.id %}"
               {% endif %}
            >Keypad</a>
          </li>
        </ul>
      </div>
    </small>
  </h1>

  {% include 'events/event_single.html' %}

  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary " data-toggle="modal" data-target="#keypadEntryModal">
  Launch demo modal
</button>

  <div class="row">
    <div class="col-sm-12" role="navigation">
      <ul class="nav nav-tabs">
        {% for block in event.blocks.all %}
        <li role="presentation" {% if block == active_block %}class="active"{% endif %}>
          <a href="{% if keypad %}{% url 'events:attendance_keypad_by_block' event.id block.id %}
                   {% else %}{% url 'events:attendance_by_block' event.id block.id %}{% endif %}"
             aria-controls="flex1"
             role="tab"
          >
            {{ block }}
          </a>
        </li>
        {% endfor %}
      </ul>

          {% crispy formset1 helper %}

    </div>
  </div>



  <!-- Modal -->
<div class="modal fade" id="keypadEntryModal" tabindex="-1" role="dialog" aria-labelledby="keypadEntryModal">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Attendance Keypad Entry for {{ event }}</h4>
      </div>
      <div class="modal-body">
        <h1>Student Number</h1>
        <input id="studentNumberField" type="text" name="studentNumber" class="form-control">
        <h1 id="keypadResult"></h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="keypadEnter">Enter</button>
      </div>
    </div>
  </div>
</div>


{% endblock content %}

{% block js %}
  <script src="{% static 'js/confirm-bootstrap.js' %}"></script>

  {% if not event.is_keypad_initialized %}
  <script>
    var confirmMessage = "<p>Keypad entry has not been initialized for this event yet.  This requires marking " +
        "all students as absent for all blocks, which will overwrite any attendance already completed.</p>" +
        "<p>You are still be able to manually edit the attendance when in keypad entry mode.</p>" +
        "<p>Are you sure you want to initialize keypad entry mode?</p>";

    $('#keypad_link').confirmModal({
      confirmTitle     : 'Initialize keypad entry mode',
      confirmMessage   : confirmMessage,
      confirmOk        : 'Yes',
      confirmCancel    : 'Cancel',
      confirmStyle     : 'success',
      confirmDismiss   : true,
      confirmAutoOpen  : false
    });
  </script>
  {% endif %}


  {% if keypad %}
  <script>
    var $modal = $('#keypadEntryModal');
    var $numberField = $("#studentNumberField");
    var $confirmBtn = $("#keypadEnter");
    var $results = $("#keypadResult");

    $modal.on('shown.bs.modal', function () {
      $numberField.focus()
    })

    // Bind "Enter" key to the submit button:
    $numberField.keyup(function(event){
      if(event.keyCode == 13){
          $confirmBtn.click();
      }
    });

    // When the enter button is click (via enter key also) set absent to false on form for that student
    $confirmBtn.click(function(event){
      var studentNumber = $numberField.val();
      $numberField.val(""); //reset

      // find the row that contains the student number
      var $row = $("#attendance-form tr:contains("+studentNumber+")");

      if ($row.length > 0) { //found the row
        // untick the absent checkbox
        var $absentBox = $row.find("td:first-child input");
        $absentBox.prop('checked', false);

        var first = $row.find("td.attendance-first-name").html();
        var last = $row.find("td.attendance-last-name").html();
        var icon = "<i class='fa fa-2x fa-check text-success'></i>";
        var results = icon + " " + first + " " + last + " " + icon;

      }
      else {
        var icon = "<i class='fa fa-2x fa-close text-danger'></i>"
        var results = icon + " " + studentNumber + " not found " + icon;
      }
      $results.html(results);

    });
  </script>
  {% endif %}


  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
{#  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>#}
{% endblock js %}