  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <form id="filter_form" method="GET" action="">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i> Date</span>
          <input type="text"
                        id="datepicker"
                        name="date"
                        readonly="readonly"
                        class="form-control"
                        value="{{ date_filter }}"
          >
        </div>
      </form>
    </div>
  </div>