{% load embed_video_tags %}

<table
         class="table table-no-bordered"
         id="table-event-{{ event.id }}">
  <thead>
  <tr>
    <th data-field="date" data-visible="false">Date</th>
    <th data-field="blocks">Blocks</th>
    <th data-field="title">Title</th>
    <th data-field="location">Location</th>
    <th data-field="teachers">Teachers</th>
    <th data-field="category">Category</th>
    <th data-field="description">Description</th>

  </tr>
  </thead>
  <tbody>
    <tr>
      <td>{{ event.date }}</td>
      <td>{{ event.blocks_str }}</td>
      <td><b>
        {% if user.is_superuser or user in event.get_editors %}
          <a title="Click to Edit" href='{% url 'events:update' event.id %}'>{{ event.title }}</a>
        {% else %}
          {{ event.title }}
        {% endif %}

      </b></td>
      <td>{{ event.location }}</td>
      <td>{{ event.facilitator_string|safe }} </td>
      <td>{{ event.category }}</td>
      <td>
{#        {% if event.image %}#}
{#          <a href="{{ event.description_link }}">#}
{#            <img src="{{ event.description_link }}" class="img-rounded pull-right" style="width:25%;">#}
{#          </a>#}
{#          {% endif %}#}
        {{ event.description|safe }}
        <div>
            {% if event.video %}
              <!-- 16:9 aspect ratio -->
              <div class="embed-responsive embed-responsive-16by9 img-rounded">
                <iframe class="embed-responsive-item" src="{{ event.video }}" allowfullscreen></iframe>
              </div>
            {% elif event.image %}
              <a href="{{ event.description_link }}">
                <img src="{{ event.description_link }}" class="img-rounded img-responsive" style="max-height: 200px;">
              </a>
            {% else %}
              <p><a href="{{ event.description_link }}">Link</a></p>
            {% endif %}
        </div>
      </td>

    </tr>
  </tbody>
</table>