{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/events.css' %}">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}


{% block head_title %}Events | {{ block.super }}{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-5">
        <h1>{{ heading }} <small class="responsive-wrap">{{ date_object }}</small></h1>
        <div class="hidden-print">{%  include 'events/date_filter.html' %}</div>
    </div>
    <div class="col-md-7">

        {% if user.is_authenticated %}

        {% if user.is_staff %}
        <h1><div class="pull-right hidden-print">
            <a class="btn btn-success" href="{% url 'events:create' %}">
                <i class="fa fa-plus-circle"></i> Create New Event
            </a>
        </div></h1>
        <div class="clearfix"></div>
        <p class="pull-right text-muted">
            <br>Total registrations:
            {% for key, value in counts_dict.items %}
                {{value}} ({{key}}),
            {% endfor %}
        </p>

        {% else %}
        <div class="panel panel-info">
            <div class="panel-heading " id="register-heading">
                <h3 class="panel-title">You are registered for these events</h3>
            </div>
            <ul class="list-group" id="register-prompt">
                {% for key,value in registrations.items %}
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-sm-4">
                            <h4>{{ key }}
                                <small class="responsive-wrap">
                                    ({{key.start_time|time:"g:i a"}} - {{ key.end_time|time:"g:i a" }})
                                </small>
                            </h4>
                        </div>
                        <div class="col-sm-8">
                            <h4>
                                {% if value.reg %}
                                <a href="#" data-toggle="modal" data-target="#event-info-modal-{{ value.reg.event.id }}">{{ value.reg.event }}</a>
                                ({{ value.reg.event.location }})&nbsp;&nbsp;
                                {% if not value.reg.past_cut_off %}
                                <a class="text-danger wait-on-click"
                                   title="Remove this event."
                                   href="{% url 'events:registrations_delete' value.reg.id %}">
                                    <i class="fa fa-trash"></i>
                                </a>
                                {% endif %}
                                {% elif value.excuse %}
                                Excused ({{ value.excuse.reason }})
                                {% else %}
                                None. <a href="#" data-toggle="modal" data-target="#help-modal" title="Click for help.">
                                <i class="fa fa-question-circle"></i>
                            </a>
                                {% endif %}
                            </h4>
                        </div>
                    </div> <!-- row -->
                    {% include 'events/event_info_modal.html' with event=value.reg.event %}
                </li>
                {% endfor %} <!-- blocks -->
            </ul>
        </div>
        {% endif %}

        {% endif %}
    </div>
</div>

<!-- Event lists -->
<div id="toolbar">
    {% if not single_block %}
    <ul class="nav nav-tabs">
        <li role="presentation" {% if not active_block %}class="active"{% endif %}>
            <a href="{% url 'events:list' %}?date={{ date_filter }}">All Blocks</a>
        </li>
        {% for block in blocks %}
        <li role="presentation" {% if block == active_block %}class="active"{% endif %}>
            <a href="{% url 'events:list_by_block' block.id %}?date={{ date_filter }}">{{block}} Only</a>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<table data-toggle="table"
       data-classes="table table-no-bordered table-hover"
       data-search="true"
       data-id-field="id"
       data-unique-id="id"
       data-blocks="{{ blocks_json }}"
       data-mobile-responsive="true"
       data-check-on-init="true"
       data-min-width="753"
       data-sort-name="category"
       data-sort-order="desc"
       id="table"
       data-toolbar="#toolbar">
    <thead>
    <tr>
        <th data-field="id" data-visible="false">ID</th>
        <th data-field="date" data-visible="false">Date</th>
        <th data-field="blocks" data-sortable="true" {% if single_block %}data-visible="false"{% endif %}>Blocks</th>
        <th data-field="blockselection" data-visible="false">Block Selection</th>
        <th data-field="title" data-sortable="true">Title</th>
        <th data-field="titletext" data-visible="false">Title Plain Text</th>
        <th data-field="location" data-sortable="true">Location</th>
        <th data-field="teachers" >Teachers</th>
        <th data-field="category" data-sortable="true">Category</th>
        <th data-field="description">Description</th>

    </tr>
    </thead>
    <tbody>
    {% for event in object_list %}
    {% include 'events/event_row.html' %}
    {% endfor %}
    </tbody>
</table>


{% if user.is_authenticated and not user.is_staff%}
<div id="block-confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Asparagus</h4>
            </div>
            <div class="modal-body">
                <p>Tetris rulz</p>
            </div>
            <div class="modal-footer">
                <button type="button" id="btn-confirm-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <a href="#" type="button" id="btn-confirm-flex-1" class="btn btn-primary wait-on-click">Flex 1</a>
                <a href="#" type="button" id="btn-confirm-flex-2" class="btn btn-primary wait-on-click">Flex 2</a>
                <a href="#" type="button" id="btn-confirm-both" class="btn btn-primary wait-on-click">Both</a>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endif %}



<!-- Help Modal -->
<div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="help-modal-label"><i class="fa fa-question-circle"></i> Registration Help</h4>
            </div>
            <div class="modal-body">
                <p>To register for an event:</p>
                <ol>
                    <li>Select the block you want to register for by clicking on one of the tabs at the top of the events list.
                        These tabs trigger what events are displayed and what events are available to you during that block.</li>
                    <li>Click the event you want to register for and follow the instructions.</li>
                </ol>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
{#  Date Filter#}
<script src="{% static 'js/events-datepicker-v2.js' %}"></script>

<!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
<script src="{% static 'js/bootstrap-table-mobile.js' %}"></script>

{% if user.is_authenticated and not user.is_staff %}
<script src="{% static 'js/events-registration.js' %}"></script>
{% elif not user.is_authenticated %}
<script>
    var $table = $('#table').bootstrapTable({
        onClickRow: function (row, $element, field) {
            $('#login-modal').modal('show');
        }
    });

</script>
{% endif %}

<script>
    $( document ).ready(function() {
        $('[data-toggle="tooltip"]').tooltip();

{#        // Flex block toggles/filters#}
{#        $('#block-filter .btn').on('click', function(){#}
{#            let $table = $('#table');#}
{#            let blockSelection = $(this).find("input").attr('id');#}
{#            console.log(blockSelection);#}
{##}
{#            let $all_rows = $table.find("tr:has(td)"); // not including header row <th>#}
{#            if (blockSelection == 'all-blocks'){#}
{#                $all_rows.show();#}
{#            }#}
{#            else {#}
{#                // if the blocks column (indicated by the blocks css class) contains the block selection text, then show.#}
{#                let $selected_rows = $table.find("tr:has(td.blocks:contains(" + blockSelection + "))");#}
{#                $all_rows.hide();#}
{#                $selected_rows.show();#}
{#            }#}
{##}
{#            //$table.bootstrapTable('filterBy', {blocks: selection});#}
{#    //         $btnConfirmFlex1.data("event-id", row.id);#}
{#    // $btnConfirmFlex1.attr("href", $tr.data("flex1-register-url"))#}
{#        });#}


    });
</script>

{% endblock js %}
