{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}


{% block head_title %}Event Management | {{ block.super }}{% endblock %}

{% block content %}

  <h1 class="clearfix">Manage Your Events
    {% if user.is_staff %}
      <div class="pull-right">
        <a class="btn btn-success" href="{% url 'events:create' %}">
          <i class="fa fa-plus-circle"></i> Create New Event
        </a>
      </div>
    {% endif %}
  </h1>

  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-search="true"
         data-id-field="id"
         data-unique-id="id"
         data-mobile-responsive="true"
         data-check-on-init="true"
         data-min-width="768"
         data-sort-name="date"
         data-sort-order="desc"
         id="table">
    <thead>
    <tr>
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="date" data-visible="true" data-sortable="true">Date</th>
      <th data-field="blocks" data-sortable="true">Blocks</th>
      <th data-field="blockselection" data-visible="false">Block Selection</th>
      <th data-field="title" data-sortable="true">Title</th>
      <th data-field="titletext" data-visible="false">Title Plain Text</th>
      <th data-field="location" data-sortable="true">Location</th>
      <th data-field="teachers">Teachers</th>
      <th data-field="category" data-sortable="true">Category</th>
      <th data-field="description">Description</th>

    </tr>
    </thead>
    <tbody>
    {% for event in object_list %}
      {% include 'events/event_row.html' %}
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {#  Date Filter#}
{#  <script src="{% static 'js/events-datepicker.js' %}"></script>#}

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
  <script src="{% static 'js/bootstrap-table-mobile.js' %}"></script>
{% endblock js %}