{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}


{% block head_title %}Events | {{ block.super }}{% endblock %}

{% block content %}

  <h1>Flex Events</h1>

  {%  include 'events/date_filter.html' %}

  {% if user.is_authenticated %}
  <div class="panel panel-primary">
    <div class="panel-heading " id="register-heading">Registration form for {{ date_object|date:"j M Y" }}</div>
    <div class="panel-body" id="register-prompt">
      <div class="row">
        <div class="col-sm-6">
          <form method="POST" action=""> {% csrf_token %}
            {{ form_flex1|crispy }}
            {{ form_flex2|crispy }}
            <input class="btn btn-danger" type="submit" value="Save Selections"/>
            <a id="clear-selections" class="btn btn-default">Clear Selections</a>
          </form>
        </div>
{#        <div class="col-sm-6">#}
{##}
{#          <a class="btn btn-info pull-right" href="{% url 'events:registrations_list' %}">View All Your Events</a>#}
{#          <p>Registration status:</p>#}
{#          <p id="registration-status">You have not registered for any events.</p>#}
{#        </div>#}
      </div>
    </div>
  </div>
  {% endif %}



  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-search="true"
      {#         data-click-to-select="true"#}
         data-id-field="id"
         data-unique-id="id"
         id="table">
    <thead>
    <tr>
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="date" data-visible="false">Date</th>
      <th data-field="blocks">Blocks</th>
      <th data-field="blockselection" data-visible="false">Block Selection</th>
      <th data-field="title">Title</th>
      <th data-field="titletext" data-visible="false">Title Plain Text</th>
      <th data-field="location">Location</th>
      <th data-field="teachers">Teachers</th>
      <th data-field="category">Category</th>
      <th data-field="description">Description</th>

    </tr>
    </thead>
    <tbody>
    {% for event in object_list %}
      {% include 'events/event_row.html' %}
    {% endfor %}
    </tbody>
  </table>

  {% if user.is_authenticated %}
  <div id="block-confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Asparagus</h4>
        </div>
        <div class="modal-body">
          <p>Tetris rulz</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-confirm-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" id="btn-confirm-flex-1" class="btn btn-primary" data-dismiss="modal">Flex 1</button>
          <button type="button" id="btn-confirm-flex-2" class="btn btn-primary" data-dismiss="modal">Flex 2</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %}

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {#  Date Filter#}
  <script src="{% static 'js/events-datepicker.js' %}"></script>

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
  <script src="{% static 'js/events-registration.js' %}"></script>
{% endblock js %}