{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block style %}
  <!-- form.media -->
  {{ form.media.css }}

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <style>
    #div_id_multi_block_event {
      display:none;
    }
  </style>
{% endblock style %}

{% block content %}
  <div class="row">
    <div class="col-sm-10 col-md-8 col-lg-6">

      <form method="POST" action=""> {% csrf_token %}
        <h1 class="clearfix">{{ title }}
          <div class="btn-group pull-right" role="group">

            <a class="btn btn-default" href="{% url 'events:list' %}">Cancel</a>
            <input class="btn btn-primary" type="submit" value="{{ btn_value }}" />
            {% if delete_btn %}<a class="btn btn-danger" href="{% url 'events:delete' event.id %}">Delete</a>{% endif %}

          </div>
        </h1>
        {{ form|crispy}}
          <div class="btn-group pull-right" role="group">

            <a class="btn btn-default" href="{% url 'events:list' %}">Cancel</a>
            <input class="btn btn-primary" type="submit" value="{{ btn_value }}" />
            {% if delete_btn %}<a class="btn btn-danger" href="{% url 'events:delete' event.id %}">Delete</a>{% endif %}

          </div>
      </form>


    </div>

  </div>
  <br />


{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  {{ form.media.js }}

  <script id="event-datepicker" data-date-input-id="id_date" src="{% static 'js/events-datepicker.js' %}" ></script>

  <script>
    // display the multi block event field if more than one block is ticked.
    function updateMultiBlockEventField($blocks) {
        var $multiblock = $('#div_id_multi_block_event');
        var numBlocksTicked = $blocks.find('input:checked').length;
        if (numBlocksTicked > 1) {
          $multiblock.slideDown();
        }
        else {
          $multiblock.slideUp();
        }
    }

    $(document).ready(function() {
      // container for tick boxes and labels for flex-1 and flex-2
      var $blocks = $('#div_id_blocks>div.controls label');
      // update when page loads in case already more than one block ticked (possible if editing an existing event)
      updateMultiBlockEventField($blocks)
      $blocks.click(function() { // when changing number of blocks, display multiEvent field as appropriate
        updateMultiBlockEventField($blocks);
      });
    });
  </script>
{% endblock js %}