{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}


{% block head_title %}Events | {{ block.super }}{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-5">
      <h1>Flex Events <small class="responsive-wrap">{{ date_object }}</small></h1>
      {%  include 'events/date_filter.html' %}
    </div>
    <div class="col-md-7">
      {% if user.is_authenticated %}
        {% if user.is_staff %}
        <h1><div class="pull-right">
          <a class="btn btn-success" href="{% url 'events:create' %}">
            <i class="fa fa-plus-circle"></i> Create New Event
          </a>
        </div></h1>
        {% else %}
        <div class="panel panel-info">
          <div class="panel-heading " id="register-heading">You are registered for these events:</div>
          <ul class="list-group" id="register-prompt">
            {% for key,value in registrations.items %}
            <li class="list-group-item">
              <h4>{{ key }} <small>({{key.start_time}} - {{ key.end_time }})</small>
                {% if value %}{{ value.event }} ({{ value.event.location }})&nbsp;&nbsp;
                  {% if not value.past_cut_off %}
                    <a class="text-danger wait-on-click" href="{% url 'events:registrations_delete' value.id %}">
                      <i class="fa fa-trash"></i>
                    </a>


                    <!-- Trigger the modal with a button -->
                    <a style="float:right; font-size: 10px; display: inline" role="button" data-toggle="modal" data-target="#myModal">Show Info</a>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                      <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 style="display: inline-block;" class="modal-title">{{ value.event }}</h4>
                            <H5 style="display: inline-block;">{{ value.event.location }} ({{ value.event.location.name }})</H5>
                            <H5 style="display: inline-block; float:right;">{{ value.event.facilitator_string|safe}}</H5>
                          </div>
                          <div class="modal-body">
                               {{ value.event.description|safe }}
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div>

                      </div>
                    </div>
                  {% endif %}
                {% else %}
                  None
                {% endif %}
              </h4>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      {% endif %}
    </div>
  </div>


  <!-- Event lists -->
  <div class="row">
    <div class="col-sm-12" role="navigation">
      <ul class="nav nav-tabs">
        {% for block in blocks %}
        <li role="presentation" {% if block == active_block %}class="active"{% endif %}>
          <a href="{% url 'events:list_by_block' block.id %}?date={{ date_filter }}"
             aria-controls="{{ block }}"
             role="tab"
          >
            {{ block }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <table data-toggle="table"
             data-classes="table table-no-bordered table-hover"
             data-search="true"
             data-id-field="id"
             data-unique-id="id"
             data-blocks="{{ blocks_json }}"
             data-mobile-responsive="true"
             data-check-on-init="true"
             data-min-width="768"
             data-sort-name="blocks"
             data-sort-order="desc"
             id="table">
          <thead>
          <tr>
            <th data-field="id" data-visible="false">ID</th>
            <th data-field="date" data-visible="false">Date</th>
            <th data-field="blocks" data-sortable="true">Blocks</th>
            <th data-field="blockselection" data-visible="false">Block Selection</th>
            <th data-field="title" data-sortable="true">Title</th>
            <th data-field="titletext" data-visible="false">Title Plain Text</th>
            <th data-field="location" data-sortable="true">Location</th>
            <th data-field="teachers" >Teachers</th>
            <th data-field="category" data-sortable="true">Category</th>
            <th data-field="description">Description</th>

          </tr>
          </thead>
          <tbody>
          {% for event in object_list %}
            {% include 'events/event_row.html' %}
          {% endfor %}
          </tbody>
      </table>

    </div>  <!-- col -->
  </div>  <!-- row -->



  {% if user.is_authenticated and not user.is_staff%} 
  <div id="block-confirmation-modal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
              aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Asparagus</h4>
        </div>
        <div class="modal-body">
          <p>Tetris rulz</p>
        </div>
        <div class="modal-footer">
          <button type="button" id="btn-confirm-cancel" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <a href="#" type="button" id="btn-confirm-flex-1" class="btn btn-primary wait-on-click">Flex 1</a>
          <a href="#" type="button" id="btn-confirm-flex-2" class="btn btn-primary wait-on-click">Flex 2</a>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  {% endif %}

{% endblock content %}

{% block js %}
  {#  Date Filter#}
  <script src="{% static 'js/events-datepicker.js' %}"></script>

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
  <script src="{% static 'js/bootstrap-table-mobile.js' %}"></script>

  {% if not user.is_staff %}
    <script src="{% static 'js/events-registration.js' %}"></script>
  {% endif %}

  <script>
    $( document ).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
  </script>

{% endblock js %}
