
  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-mobile-responsive="true"
         data-check-on-init="true"
         data-min-width="753"
         id="table">
  <thead>
  <tr>
    <th data-field="id" data-visible="false">ID</th>
    <th data-field="date" data-visible="false">Date</th>
    <th data-field="blocks">Blocks</th>
    <th data-field="blockselection" data-visible="false">Block Selection</th>
    <th data-field="title">Title</th>
    <th data-field="titletext" data-visible="false">Title Plain Text</th>
    <th data-field="location">Location</th>
    <th data-field="teachers">Teachers</th>
    <th data-field="competencies">Competencies</th>
    <th data-field="description">Description</th>
  </tr>
  </thead>
  <tbody>
    {% include 'events/event_row.html' %}
  </tbody>
</table>