<tr data-flex1-register-url="{% url 'events:register' event.id 1 %}?date={{ date_filter }}"
    data-flex2-register-url="{% url 'events:register' event.id 2 %}?date={{ date_filter }}"
    {% if not event.available and not user.is_staff %}
      data-event-available="false"
      data-tooltip-title="{{ event.explanation }}"
      data-placement="bottom"
    {% elif not user.is_staff %}
      data-event-available="true"
    {% endif %}
>
  <td>{{ event.id }}</td>
  <td>{{ event.date }}</td>
  <td>{{ event.blocks_str }}</td>
  <td>{{ event.block_selection_guide }}</td>
  <td><b>
    {% if user.is_superuser or user in event.get_editors %}
      <a title="Click to Edit" href='{% url 'events:update' event.id %}'>{{ event.title }}</a>
    {% else %}
      {{ event.title }}
    {% endif %}

  </b></td>
  <td>{{ event.title }}</td>
  <td>{{ event.location }}</td>
  <td>{{ event.facilitator_string|safe }} </td>
  <td>{{ event.category }}</td>
  <td>
    {{ event.description|safe }}
    <div>
      {% if event.description_link %}
        {% if event.video %}
          <!-- 16:9 aspect ratio -->
          <div class="embed-responsive embed-responsive-16by9 img-rounded">
            <iframe class="embed-responsive-item" src="{{ event.video }}" allowfullscreen></iframe>
          </div>
        {% elif event.image %}
          <a href="{{ event.description_link }}">
            <img src="{{ event.description_link }}" class="img-rounded img-responsive" style="max-height: 200px;">
          </a>
        {% else %}
          <p><a href="{{ event.description_link }}">Link</a></p>
        {% endif %}
      {% endif %}
    </div>
    {% if request.user.is_superuser or request.user in event.get_editors %}
      <br>
      <div class="btn-group pull-right" role="group">
        <a class="btn btn-default wait" href="{% url 'events:update' event.id %}">
          <i class="fa fa-edit"></i> Edit
        </a>
        <a class="btn btn-default wait" href="{% url 'events:copy' event.id %}">
          <i class="fa fa-copy"></i> Copy
        </a>
        <a class="btn btn-primary wait" href="{% url 'events:attendance' event.id %}">
          <i class="fa fa-users"></i> Attendance
          {% for num in event.get_attendances %}
            <span class="badge">{{ num }}</span>
          {% endfor %}
        </a>
      </div>
    {% endif %}
  </td>
</tr>