{% extends "base.html" %}
{% load staticfiles %}

{% block style %}
  <link rel="stylesheet" href="{% static 'chosen_v1.6.2/chosen.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}


{% block head_title %}Event Management | {{ block.super }}{% endblock %}

{% block content %}

  <h1>Manage Your Events
    {% if user.is_staff %}
      <div class="pull-right">
        <a class="btn btn-success" href="{% url 'events:create' %}">
          <i class="glyphicon glyphicon glyphicon-plus-sign"></i> Create New Event
        </a>
      </div>
    {% endif %}
  </h1>


{#  <form id="filter_form" method="GET" action="">#}
{#    <p>Date: <input type="text"#}
{#                    id="datepicker"#}
{#                    name="date"#}
{#                    placeholder="{{ date_filter }}"#}
{#                    style="color:black">#}
{#    </p>#}
{#  </form>#}



  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-search="true"
      {#         data-click-to-select="true"#}
         data-id-field="id"
         data-unique-id="id"
         id="table">
    <thead>
    <tr>
      {#      <th data-field="state" data-checkbox="true"></th>#}
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="date" data-visible="true">Date</th>
      <th data-field="blocks">Blocks</th>
{#      <th data-field="flex1" data-visible="false">Flex 1</th>#}
{#      <th data-field="flex2" data-visible="false">Flex 1</th>#}
      <th data-field="blockselection" data-visible="false">Block Selection</th>
      <th data-field="title">Title</th>
      <th data-field="titletext" data-visible="false">Title Plain Text</th>
      <th data-field="location">Location</th>
      <th data-field="teachers">Teachers</th>
      <th data-field="category">Category</th>
      <th data-field="description">Description</th>

    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr>
        {#        <td></td>#}
        <td>{{ obj.id }}</td>
        <td>{{ obj.date }}</td>
        <td>{{ obj.blocks_str }}</td>
{#        <td>{{ obj.flex1 }}</td>#}
{#        <td>{{ obj.flex2 }}</td>#}
        <td>{{ obj.block_selection_guide }}</td>
        <td><b>
          {% if user.is_superuser or user in obj.get_editors %}
            <a title="Click to Edit" href='{% url 'events:update' obj.id %}'>{{ obj.title }}</a>
          {% else %}
            {{ obj.title }}
          {% endif %}

        </b></td>
        <td>{{ obj.title }}</td>
        <td>{{ obj.location }}</td>
        <td>{{ obj.facilitator_string|safe }} </td>
        <td>{{ obj.category }}</td>
        <td>{{ obj.description|safe }}
          <div class="pull-right">
            <a class="btn btn-default" href="{% url 'events:update' obj.id %}">
              <i class="glyphicon glyphicon-edit"></i> Edit Event
            </a>
            <a class="btn btn-default" href="{% url 'events:copy' obj.id %}">
              <i class="glyphicon glyphicon-copy"></i> Copy Event
            </a>
            <a class="btn btn-primary" href="{% url 'events:attendance' obj.id %}">
              <i class="glyphicon glyphicon-user"></i> Attendance
            </a>
          </div>
        </td>

      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {#  Date Filter#}
  <script>
    function WednesdaysOnly(date) {
      var day = date.getDay();
      if (day == 3) //Wednesday = 3
        return [true]
      else
        return [false]
    }

    $(document).ready(function () {
      $('#datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        onSelect: function (dateText, inst) {
          $('#filter_form').submit(); // <-- SUBMIT
        },
        beforeShowDay: WednesdaysOnly,
      });
    });

  </script>

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
{% endblock js %}