{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'chosen_v1.6.2/chosen.css' %}">
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}

{% block head_title %}Homeroom | {{ block.super }}{% endblock %}



{% block content %}


  <h1>{{ heading }}</h1>

  {%  include 'events/date_filter.html' %}

  <table data-toggle="table"
         data-classes="table table-no-bordered table-condensed"
         data-search="true"
         data-id-field="id"
         data-sort-name="last"
         data-sort-order="asc"
         id="table">
    <thead>
    <tr>
      <th data-field="id" data-sortable="true">Student Number</th>
      <th data-field="first" data-sortable="true">First Name</th>
      <th data-field="last" data-sortable="true">Last Name</th>
      <th data-field="grade" data-sortable="true">Grade</th>
      <th data-field="absent" data-sortable="true">Flex 1</th>
      <th data-field="late" data-sortable="true">Flex 2</th>
      <th>Reset PW</th>
    </tr>
    </thead>
    <tbody>
    {% for student in students %}
      <tr>
        <td>{{ student.username }}</td>
        <td>{{ student.first_name }}</td>
        <td>{{ student.last_name }}</td>
        <td>{{ student.profile__grade }}</td>
        <td>{{ student.FLEX1|default_if_none:'-' }}</td>
        <td>{{ student.FLEX2|default_if_none:'-' }}</td>
        <td>
          <a class="reset-password"
             data-user="{{ student.username }}"
             href="{% url 'profiles:reset_password' student.id %}"
             title='Reset password to "wolf"'>
            <i class="fa fa-key"></i>
          </a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {#  Date Filter#}
  <script src="{% static 'js/events-datepicker.js' %}"></script>

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

{#  Confirm password reset#}
  <script>
    $(document).ready(function() {
      $('.reset-password').click(function() {
        console.log(this);
        if (confirm('Reset password to "wolf" for user ' + $(this).data('user') + "?")) {
          var url = $(this).attr('href');
          $('#content').load(url);
        }
        else
            return false
      });
    });
  </script>
{% endblock js %}