{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
{% endblock style %}


{% block head_title %}Registered Events | {{ block.super }}{% endblock %}

{% block content %}
  <h1>Your Registered Events</h1>

  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-search="true"
         data-id-field="id"
         data-sort-name="date"
         data-sort-order="desc"
         id="table">
    <thead>
    <tr>
      <th data-field="delete"></th>
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="date" data-sortable="true">Date</th>
      <th data-field="block" data-sortable="true">Block</th>
      <th data-field="event" data-sortable="true">Event</th>
      <th class="hidden-xs" data-field="absent" data-sortable="true">Absent</th>
      <th class="hidden-xs" data-field="late" data-sortable="true">Late</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr >
        <td>
          {% if obj.past_cut_off %}
            -
          {% else %}
            <a href="{% url 'events:registrations_delete' obj.id %}"
                 class="btn btn-danger btn-xs"
                 title="Unregister for this event"
            >
            <i class="fa fa-trash"></i></a>
          {% endif %}
        </td>
        <td>{{ obj.id }}</td>
        <td>{{ obj.event.date|date:"Y-m-d"}}</td>
        <td>{{ obj.block }}</td>
        <td><a href="#" data-toggle="modal" data-target="#event-info-modal-{{ obj.event.id }}">{{ obj.event.title }}</a></td>
{#        <td>{{ obj.event.location }}</td>#}
        <td class="hidden-xs">{{ obj.absent }} </td>
        <td class="hidden-xs">{{ obj.late }}</td>

      </tr>
    {% endfor %}
    </tbody>
  </table>

  {# Put this in seperate for loop so the modals' HTML is in a top level location #}
  {#  http://getbootstrap.com/javascript/#modals #}
  {% for obj in object_list %}
      {% include 'events/event_info_modal.html' with event=obj.event %}
  {% endfor %}


{% endblock content %}

{% block js %}
  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
{% endblock js %}