{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
{% endblock style %}


{% block head_title %}Registered Events | {{ block.super }}{% endblock %}

{% block content %}
  <h1>Your Registered Events</h1>

  <table data-toggle="table"
         data-classes="table table-no-bordered"
         data-search="true"
         data-id-field="id"
         id="table">
    <thead>
    <tr>
      <th data-field="delete">Unregister</th>
      <th data-field="id" data-visible="false">ID</th>
      <th data-field="date">Date</th>
      <th data-field="block">Block</th>
      <th data-field="event">Event</th>
      <th data-field="location">Location</th>
      <th data-field="absent">Absent</th>
      <th data-field="late">Late</th>
      <th data-field="excused">Excused</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in object_list %}
      <tr >
        <td>
          {% if obj.past_cut_off %}
            -
          {% else %}
            <a href="{% url 'events:registrations_delete' obj.id %}"
                 class="btn btn-danger btn-xs"
                 title="Unregister for this event"
            >
            <i class="fa fa-trash"></i></a>
          {% endif %}
        </td>
        <td>{{ obj.id }}</td>
        <td>{{ obj.event.date }}</td>
        <td>{{ obj.block }}</td>
        <td>{{ obj.event.title }}</td>
        <td>{{ obj.event.location }}</td>
        <td>{{ obj.absent }} </td>
        <td>{{ obj.late }}</td>
        <td>{{ obj.excused }}</td>

      </tr>
    {% endfor %}
    </tbody>
  </table>


{% endblock content %}

{% block js %}
  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
{% endblock js %}