{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}


{% block head_title %}Stats | {{ block.super }}{% endblock %}

{% block content %}

    <h1>Stats</h1>

    {%  include 'events/date_filter.html' %}

    <h3>Registration Stats</h3>

        <table class="table table-bordered table-hover" style="width:50%;">
        <thead>
            <tr>
                <th rowspan="2">Grade</th>
                <th rowspan="2">Count</th>
                {% for block in blocks %}
                    <th colspan="3">{{ block }}</th>
                {% endfor %}
            </tr>
            <tr>
                {% for block in blocks %}
                    <th>Exc</th>
                    <th>No reg #</th>
                    <th>No reg %</th>
                {% endfor %}
{#                <th>Both Exc</th>#}
{#                <th>Both NR #</th>#}
{#                <th>Both NR %</th>#}
            </tr>
        </thead>
        <tbody>
            {% for grade, grade_stats in stats.items %}
            <tr>
                <th scope="row">{{ grade }}</th>
                {% for label, value in grade_stats.items %}
                    <td>{{ value }}{% if "%" in label %}%{% endif %}</td>
                {% endfor %}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <h3>Excuse Stats</h3>#}


{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {#  Date Filter#}
  <script src="{% static 'js/events-datepicker.js' %}"></script>

{% endblock js %}