{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
    <link rel="stylesheet" href="{% static 'css/events.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}

{% block head_title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

    <h1>{{ heading }} <small class="responsive-wrap">{{ date_object }}</small></h1>

    <div id="toolbar">
        {%  include 'events/date_filter.html' %}
    </div>
    <table data-toolbar="#toolbar"
           data-toggle="table"
           data-classes="table table-hover table-no-bordered table-condensed"
           data-search="true"
           data-id-field="id"
           data-sort-name="last"
           data-sort-order="asc"
           id="table">
        <thead>
        <tr>
            <th rowspan="2" data-field="first" data-sortable="true">First Name</th>
            <th rowspan="2" data-field="last" data-sortable="true">Last Name</th>
            <th rowspan="2" data-field="count" data-sortable="true">Students</th>
            {% for block in blocks %}
                <th colspan="2">{{ block }}</th>
            {% endfor %}
        </tr>
        <tr>
            {% for block in blocks %}
                <th data-field="noreg-num-{{ block }}" data-sortable="true">No reg #</th>
                <th data-field="noreg-percent-{{ block }}"
                    data-sortable="true"
                    data-formatter="percentFormatter">No reg %</th>
            {% endfor %}

        </tr>

        </thead>
        <tbody>
            {% for teacher, stats in staff_stats.items %}
            <tr>
                <td>{{ teacher.first_name }}</td>
                <td><span style="display:none">{{ teacher.last_name }}</span><a href="{% url 'events:registrations_homeroom' teacher.username %}?date={{ date_filter }}">
                    {{ teacher.last_name }}</a>
                </td>
                {% for label, value in stats.items %}
                    <td>{{ value }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock content %}

{% block js %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    {#  Date Filter#}
    <script src="{% static 'js/events-datepicker.js' %}"></script>

    <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

    {#  Confirm password reset#}
    <script>
        function percentFormatter(value, row) {
            return value + ' %';
        }

    </script>
{% endblock js %}