{% extends "base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block style %}
  <link rel="stylesheet" href="{% static 'chosen_v1.6.2/chosen.css' %}">
  <link rel="stylesheet" href="{% static 'css/events.css' %}">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock style %}

{% block head_title %}Synervoice | {{ block.super }}{% endblock %}



{% block content %}


  <h1>Generate Synervoice File</h1>

  <div class="row">
    <div class="col-md-3 col-sm-4 col-xs-6">
      <form id="filter_form" method="POST" action="">
        {% csrf_token %}
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1"><i class="glyphicon glyphicon-calendar"></i> Date</span>
          <input type="text"
                        id="datepicker"
                        name="date"
                        readonly="readonly"
                        class="form-control"
                        value="{{ date_filter }}"
          >
        </div><br>
        <input class="btn btn-primary" type="submit" value="Generate"/>
      </form>
    </div>
  </div>

{% endblock content %}

{% block js %}
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  {#  Date Filter#}
  <script>
    function WednesdaysOnly(date) {
      var day = date.getDay();
      if (day == 3) //Wednesday = 3
        return [true]
      else
        return [false]
    }

    $(document).ready(function () {
      $('#datepicker').datepicker({
        dateFormat: 'yy-mm-dd',
        showOtherMonths: true,
        selectOtherMonths: true,
        beforeShowDay: WednesdaysOnly,
      });

    });
  </script>

  <!-- Bootstrap Tables:  http://bootstrap-table.wenzhixin.net.cn/ -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>

{% endblock js %}